*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
}

/* form starting stylings ------------------------------- */
form {
  /* LABEL ======================================= */
  /* active state */
  /* BOTTOM BARS ================================= */
  /* active state */
  /* active state */
}
form .group {
  position: relative;
  margin-bottom: 30px;
}
form input, form textarea {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  background: none;
  color: #fff;
  border-bottom: 1px solid #888888;
}
form input:focus, form textarea:focus {
  outline: none;
}
form label {
  color: #888888;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
form input:focus ~ label, form input:valid ~ label, form textarea:focus ~ label, form textarea:valid ~ label {
  top: -20px;
  font-size: 14px;
}
form .bar {
  position: relative;
  display: block;
  width: 100%;
}
form .bar:before, form .bar:after {
  content: "";
  height: 1px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #fff;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
form .bar:before {
  left: 50%;
}
form .bar:after {
  right: 50%;
}
form input:focus ~ .bar:before, form input:focus ~ .bar:after, form textarea:focus ~ .bar:before, form textarea:focus ~ .bar:after {
  width: 50%;
}
form input:focus ~ .highlight, form textarea:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
/* form style end */
/* page_heading start */
.page_heading {
  background: url(../images/bg2.jpg);
  background-size: cover;
  background-position: bottom;
}
.page_heading .cover {
  background: rgba(34, 34, 34, 0.4);
}
.page_heading .cover h1 {
  padding: 10rem 0 8rem;
  text-align: center;
  color: #fff;
  font-weight: bold;
  margin-bottom: 0;
}

/* page_heading end */
.search_box input {
  border: 1px solid #FA471C;
  color: #222;
  padding-left: 10px;
}
.search_box button {
  width: 100%;
  height: 100%;
  border: none;
  background: #FA471C;
  color: #fff;
  cursor: pointer;
}

.ui-widget-header {
  background: #FA471C;
}

.ui-widget.ui-widget-content {
  background: #eee;
}

.ui-state-default, .ui-widget-content .ui-state-default {
  background: #fff;
  outline: 0;
}

.ui-slider-horizontal {
  height: 0.5rem;
}

.ui-slider .ui-slider-handle {
  width: 0.75em;
  height: 1em;
  border-radius: 50%;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: 1px solid #FA471C;
  background: #fff;
}

nav {
  border-bottom: solid 1px #efefef;
  min-height: 60px;
  background: #222;
  z-index: 9999;
}

.navbar {
  padding: 0;
}

nav .wrap-core-nav-list,
nav .nav-header {
  background: #222;
}

nav .brand {
  display: block;
  position: relative;
  width: 200px;
  top: 20px;
}

nav .brand img {
  width: 100%;
}

nav .menu li a {
  display: block;
  padding: 20px 25px;
  text-decoration: none;
  color: #fff;
}

nav .menu li a:hover {
  color: #FA471C;
}

ul.attributes li a {
  color: #fff;
}

/*
DROPDOWN STYLE
=========================== */
.core-nav .dropdown > .dropdown-menu {
  background: rgba(34, 34, 34, 0.9);
}

nav .menu > li.dropdown li.dropdown > a::before {
  margin-left: 10px;
  content: "";
  border-top: solid 5px #6a6a6a;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
  float: right;
  position: relative;
  top: 8px;
}

nav .menu li.dropdown.open > a {
  color: #FA471C;
}

.sample-text {
  padding: 30px;
}

/* =========================== */
/*
MEGAMENU STYLE
=========================== */
.core-nav .megamenu > .megamenu-content {
  background: rgba(34, 34, 34, 0.9);
}
.core-nav .megamenu > .megamenu-content h6 {
  color: #fff;
  padding: 5px 25px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.core-nav .megamenu > .megamenu-content a {
  padding: 5px 25px;
  color: #cccccc;
  transition: all 0.3s;
}
.core-nav .megamenu > .megamenu-content a:hover {
  color: #FA471C;
}

nav .menu > li.megamenu li.megamenu > a::before {
  margin-left: 10px;
  content: "";
  border-top: solid 5px #6a6a6a;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
  float: right;
  position: relative;
  top: 8px;
}

nav .menu li.megamenu.open > a {
  color: #FA471C;
}

/* =========================== */
nav button {
  background: transparent;
  border: none;
  outline: none;
}

@media (max-width: 992px) {
  nav .full-container,
nav .nav-container {
    padding-left: 0;
    padding-right: 0;
  }

  nav .nav-header {
    min-height: 60px;
  }

  nav .nav-header .brand {
    margin: 0 auto 5px;
    float: none;
  }

  nav .nav-header .toggle-bar {
    font-size: 18px;
    position: absolute;
    top: 17px;
    left: 15px;
    color: #fff;
  }

  nav .menu li a {
    padding: 10px 10px;
    border-bottom: solid 1px #efefef;
  }

  .core-nav .megamenu > .megamenu-content a {
    border-bottom: none;
  }

  nav .menu li:last-child a {
    border-bottom: none;
  }
}
/* nav style end */
/* header style start */
header {
  height: calc(100vh - 67px);
}
header .item {
  position: relative;
  height: calc(100vh - 67px);
}
header .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header .item .content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(34, 34, 34, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
header .item .content h1 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}
header .item .content hr {
  margin: 2rem auto;
  border-top: 3px solid #FA471C;
  width: 80px;
  transition: all 0.3s;
}
header .item .content a {
  background: #fff;
  color: #222;
  padding: 10px 25px;
  border-radius: 0;
  border: 0;
  outline: 0;
  text-transform: uppercase;
  transition: all 0.3s;
  opacity: 0;
}
header .item .content a:hover {
  color: #FA471C;
}
header .item .content:hover {
  background: rgba(250, 71, 28, 0.8);
}
header .item .content:hover a {
  opacity: 1;
}
header .item .content:hover hr {
  border-color: #fff;
}
header .owl-dots {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
}
header .owl-dots button {
  outline: 0;
}
header .owl-dots span {
  background: #fff;
}
header .owl-dots .active span {
  border: 1px solid #FA471C;
}

/* header style end */
/* about style start */
.about {
  padding: 7rem 0 4rem;
}
.about .content {
  display: flex;
  margin-bottom: 3rem;
}
.about .content a {
  color: #222;
  text-decoration: none;
  font-weight: 600;
}
.about .content a:hover {
  color: #FA471C;
}
.about .content .icon {
  margin-right: 30px;
}
.about .content .icon a i {
  font-size: 40px;
  color: #a2a2a2;
  line-height: 0;
  transition: all 0.3s;
}
.about .content .icon a:hover i {
  color: #FA471C;
}
.about .content .details p {
  margin-bottom: 0;
}

/* about style end */
/* about_bottom style start */
.about_bottom {
  background: url(../images/bg2.jpg);
  background-size: cover;
  background-position: bottom;
}
.about_bottom .cover {
  background: rgba(34, 34, 34, 0.5);
  padding: 7rem 0;
}
.about_bottom .cover figure {
  position: relative;
  margin: 0;
  overflow: hidden;
  height: 100%;
}
.about_bottom .cover figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about_bottom .cover figure figcaption {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to top, rgba(7, 17, 30, 0.2), rgba(7, 17, 30, 0.5));
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_bottom .cover figure a {
  border-radius: 50%;
  background: #FFF;
  padding: 4px;
  transition: all 0.3s;
  animation: mapanimate 2s infinite;
}
.about_bottom .cover figure a i {
  border: 3px solid #FA471C;
  display: inline-block;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 36px;
  color: #FA471C;
  padding-left: 5px;
  transition: all 0.3s;
}
.about_bottom .cover figure:hover a {
  background: #FA471C;
  text-decoration: none;
}
.about_bottom .cover figure:hover i {
  border-color: #FFF;
  color: #FFF;
}
.about_bottom .cover h1 {
  color: #fff;
  margin-top: 4rem;
}
.about_bottom .cover hr {
  border-top: 3px solid #FA471C;
  width: 80px;
  margin: 1rem auto;
  margin-left: calc(100% - 80px);
}
.about_bottom .cover p {
  color: #fff;
}
.about_bottom .cover a {
  background: #FA471C;
  color: #fff;
  padding: 10px 25px;
  border-radius: 0;
  border: 0;
  outline: 0;
  text-transform: uppercase;
  transition: all 0.3s;
}
.about_bottom .cover a:hover {
  background: #fff;
  color: #FA471C;
}

@keyframes mapanimate {
  0% {
    box-shadow: 0 0 0 0 white;
  }
  70% {
    box-shadow: 0 0 0 12px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
@media (max-width: 992px) {
  .about_bottom hr {
    margin-left: 0 !important;
  }
}
/* about_bottom style end */
/* numbers style start */
.numbers {
  padding: 5rem 0 3rem;
}
.numbers .item {
  margin-bottom: 40px;
}
.numbers .item h5 {
  font-size: 55px;
  color: #FA471C;
}
.numbers .item h6 {
  font-size: 20px;
  text-transform: uppercase;
  color: #222;
}

/* numbers style end */
/* testimonial style start */
.testimonial {
  background: url(../images/bg3.jpg);
  background-size: cover;
  background-position: center;
}
.testimonial .cover {
  padding: 7rem 0;
  background: rgba(34, 34, 34, 0.6);
}
.testimonial .cover .testimonial_slider {
  color: #fff;
}
.testimonial .cover .testimonial_slider hr {
  border-top: 3px solid #FA471C;
  width: 80px;
  margin: 1rem auto;
}
.testimonial .cover .testimonial_slider i {
  font-size: 55px;
  color: #FA471C;
}
.testimonial .owl-dots {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.testimonial .owl-dots button {
  outline: 0;
  width: 20px;
}
.testimonial .owl-dots span {
  background: #fff;
  display: block;
  width: 10px;
  height: 10px;
  margin: auto;
  border-radius: 50%;
}
.testimonial .owl-dots .active span {
  border: 1px solid #FA471C;
}

/* testimonial style end */
/* client style start */
.client {
  padding: 4rem 0 3rem;
}
.client figure a img {
  max-width: 100% !important;
  width: auto !important;
  opacity: 0.7;
  transition: all 0.3s;
}
.client figure a img:hover {
  opacity: 1;
}

/* client style end */
/* gallery style start */
.gallery .dubble-img a {
  width: 100%;
  height: 50%;
}
.gallery .single-img a {
  width: 100%;
  height: 100%;
}
.gallery a {
  display: block;
  position: relative;
  overflow: hidden;
}
.gallery a span {
  background: rgba(34, 34, 34, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  opacity: 0;
  font-size: 50px;
  color: #fff;
}
.gallery a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
.gallery a:hover img {
  transform: scale(1.1);
}
.gallery a:hover span {
  opacity: 1;
}

/* gallery style end */
.social {
  margin: 3rem 0 2.5rem;
}
.social ul {
  list-style-type: none;
}
.social ul li {
  display: inline-block;
}
.social ul li a {
  font-size: 40px;
  margin: 10px 30px 10px 0;
  color: #FA471C;
  transition: all 0.3s;
}
.social ul li a:hover {
  color: #222;
}

/* blog style start */
.blog {
  padding: 5rem 0;
}
.blog .blog_button {
  background: #222;
  width: 150px;
  padding: 15px 0;
  display: block;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s;
}
.blog .blog_button:hover {
  background: #FA471C;
}
.blog figure {
  margin-bottom: 1.75rem;
}
.blog figure .image {
  overflow: hidden;
}
.blog figure .image img {
  height: 250px;
  object-fit: cover;
  width: 100%;
  transition: all 0.5s;
}
.blog figure:hover img {
  transform: scale(1.5);
}
.blog figure figcaption {
  background: #FA471C;
  padding: 30px 20px;
}
.blog figure figcaption h5 {
  color: #fff;
  margin-bottom: 1rem;
  font-weight: bold;
}
.blog figure figcaption p {
  color: #fff;
}
.blog figure figcaption a {
  color: #fff;
}

/* blog style end */
/* blog_single style start */
.blog_single {
  padding: 5rem 0;
}
.blog_single h4 {
  color: #FA471C;
  text-align: center;
}
.blog_single .item {
  background: #FA471C;
  color: #fff;
  padding: 20px;
}
.blog_single .item a {
  color: #fff;
}
.blog_single .item span {
  color: #d9d9d9;
}

/* blog_single style end */
/* single_page style start */
.single_page {
  padding: 5rem 0;
}
.single_page h3 {
  color: #FA471C;
}
.single_page hr {
  margin-left: 0;
}

/* single_page style end */
/* contact style start */
.contact {
  background: linear-gradient(to right, #FA471C 50%, #222 50%);
  padding: 5rem 0;
}
.contact .heading {
  color: #fff;
  padding-bottom: 3rem;
}
.contact .heading h2 {
  font-weight: bold;
}
.contact address {
  color: #fff;
}
.contact address i {
  margin-right: 10px;
}
.contact address a {
  color: #fff;
}
.contact .social ul {
  list-style-type: none;
}
.contact .social ul li {
  display: inline-block;
}
.contact .social ul li a {
  font-size: 28px;
  margin: 10px 15px 10px 0;
  color: #fff;
  transition: all 0.3s;
}
.contact .social ul li a:hover {
  color: #cccccc;
}
.contact button {
  background: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 13px;
  text-transform: uppercase;
  border: 2px solid #fff;
  width: 100%;
  transition: all 0.3s;
  cursor: pointer;
}
.contact button:hover {
  color: #222;
  background: #fff;
}

@media screen and (max-width: 992px) {
  .contact {
    background: linear-gradient(to bottom, #FA471C 30%, #222 70%);
  }
}
.map {
  margin-bottom: -7px;
}

/* contact style end */
/* shop style start */
.shop {
  padding: 5rem 0;
}
.shop .product .item {
  box-shadow: 0 0 1px rgba(34, 34, 34, 0.4);
  border-radius: 4px;
  transition: all 0.3s;
  overflow: hidden;
  margin-bottom: 30px;
}
.shop .product .item:hover {
  box-shadow: 0 0 30px rgba(34, 34, 34, 0.2);
}
.shop .product .item:hover figure .cover {
  top: 0;
}
.shop .product .item figure {
  position: relative;
}
.shop .product .item figure .cover {
  position: absolute;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(34, 34, 34, 0.5);
  transition: all 0.8s;
}
.shop .product .item figure .cover .button {
  background: #FA471C;
  color: #fff;
  display: block;
  width: 100px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0 8px;
  text-decoration: none;
}
.shop .product .item article {
  padding: 0 20px 20px;
}
.shop .product .item article a {
  display: block;
  font-size: 22px;
  color: #222;
  transition: all 0.3s;
}
.shop .product .item article a:hover {
  color: #FA471C;
}
.shop .product .item article span {
  color: #FA471C;
}
.shop .product .page-link {
  color: #FA471C;
}
.shop .product .page-link:focus {
  box-shadow: none;
}
.shop .product .page-item.active .page-link {
  background: #FA471C;
  color: #fff;
  border-color: #FA471C;
}
.shop .sidebar .category {
  padding: 15px 0;
}
.shop .sidebar .category li {
  border-bottom: 1px solid rgba(34, 34, 34, 0.2);
}
.shop .sidebar .category li:first-child {
  border-top: 1px solid rgba(34, 34, 34, 0.2);
}
.shop .sidebar .category li a {
  display: block;
  padding: 10px 0;
  color: #6f6f6f;
  text-decoration: none;
  transition: all 0.3s;
}
.shop .sidebar .category li a:hover {
  color: #222;
}
.shop .sidebar .category li a span {
  float: right;
  color: #FA471C;
}
.shop .sidebar .tag li {
  display: inline-block;
  margin-right: 7px;
  margin-bottom: 10px;
}
.shop .sidebar .tag li a {
  display: block;
  border: 1px solid rgba(34, 34, 34, 0.2);
  padding: 7px 20px;
  color: #a2a2a2;
  text-decoration: none;
  transition: all 0.3s;
  font-size: 14px;
}
.shop .sidebar .tag li a:hover {
  background: #FA471C;
  color: #fff;
}

/* shop style end */
/* shop_single style start */
.product_slider .slider_nav {
  margin-top: 10px;
}

.content h4 span {
  float: right;
  color: #FA471C;
}
.content .rating {
  margin-bottom: 15px;
}
.content .rating i {
  color: #555555;
  font-size: 18px;
}
.content .rating .active {
  color: #FA471C !important;
}
.content .rating span {
  margin-left: 10px;
  color: #555555;
}
.content .rating span a {
  color: #555555;
}
.content .Product_quantity {
  width: 200px;
}
.content .Product_quantity input {
  width: 30%;
  height: 45px;
  border-color: #FA471C;
  outline: 0;
  padding: 0 5px;
}
.content .Product_quantity button {
  padding: 9px 7px;
}
.content .cart_button {
  background: #FA471C;
  color: #fff;
  border: 2px solid #FA471C;
  padding: 7px 20px;
  margin: 20px 10px 20px 0;
  text-transform: uppercase;
  outline: 0;
  cursor: pointer;
  transition: all 0.3s;
}
.content .cart_button:hover {
  color: #FA471C;
  background: none;
}
.content .cart_button_add {
  background: none;
  color: #555555;
  border-color: #555555;
}
.content .cart_button_add:hover {
  border-color: #FA471C;
}

.description {
  padding: 2rem 0;
}
.description .nav-tabs .nav-link {
  padding: 1rem;
  color: #222;
  font-weight: bold;
  margin-right: 10px;
}
.description .nav-tabs .nav-item.show .nav-link, .description .nav-tabs .nav-link.active {
  border-top: 5px solid #FA471C;
}
.description .tab-content {
  padding: 1rem;
  border: 1px solid #cccccc;
}
.description .tab-content p {
  font-size: 14px;
}
.description .tab-content .review_heading b {
  margin-right: 20px;
}
.description .tab-content .review_heading i {
  color: #555555;
}
.description .tab-content .review_heading .checked {
  color: #FA471C;
}
.description .tab-content .review_heading span {
  float: right;
}

/* shop_single style end */
/* footer style start */
footer {
  background: #222;
  padding: 50px 0 30px;
  color: #fff;
}
footer h4 {
  font-weight: bold;
}
footer a {
  color: #fff;
  transition: all 0.7s;
  margin-bottom: 15px;
  font-size: 14px;
}
footer a:hover {
  color: #FA471C;
}
footer p {
  line-height: 28px;
  font-size: 14px;
  margin-bottom: 0;
}
footer input {
  color: #fff;
  border-bottom: 1px solid #6f6f6f;
}
footer button {
  width: 100%;
  padding: 10px 20px;
  border: 2px solid #fff;
  background: none;
  color: #fff;
  transition: all 0.3s;
  cursor: pointer;
}
footer button:hover {
  background: #fff;
  color: #222;
}
footer .footer_bottom {
  border-top: 1px solid #cccccc;
  text-align: center;
  padding-top: 30px;
  margin-top: 30px;
}
footer .footer_bottom p {
  margin: 0;
  font-size: 12px;
}

/* footer style end */
/* back to top */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 30px;
  border: none;
  outline: none;
  background-color: #de2f05;
  color: #fff;
  cursor: pointer;
  padding: 0 12px;
  border-radius: 0;
  box-shadow: 0 0 4px 2px rgba(34, 34, 34, 0.1);
  transition: all 0.3s;
}
#myBtn:hover {
  background-color: #ac2404;
}

/* back to top */

/*# sourceMappingURL=master.css.map */
