@import 'partials/init.scss';
@import 'partials/variable.scss';

.main-body {
    background: $primary-light;
    padding: 100px 0;
    font-family: 'Josefin Sans', sans-serif;
}
.wrapper {
    background: $primary-color;
    width: 80%;
    margin: 0 auto;

}


/* nav style start */
    nav{
        padding: 30px 0 30px;
        position: relative;
        .logo{
            height: 48px;
            line-height: 48px;
            img {
                width: 56px;
            }
        }
        .navbar {
            position: relative;
            width: 100%;
            height: 48px;
            .menu {
                width: 100%;
                ul{
                    display: inline-block;
                    width: 100%;
                    margin: 0;
                    div {
                        display: inline-block;
                        float: right;
                    }
                    li{
                      float: left;
                      margin: 0;
                        a{
                          padding: 0 25px;
                          text-transform: uppercase;
                          color:$white-secondary;
                          display: inline-block;
                          height: 28px;
                          line-height: 28px;
                        }
                    }
                }
            }
            .icon{
                position: absolute;
                right: 0;
                top: 0;
                a {
                    display: inline-block;
                    height: 48px;
                    line-height: 48px;
                    color:$white-secondary;
                    font-size: 27px;
                    padding-bottom: 4px;
                }
            }
        }
    }

@media screen and (max-width: 678px){
    nav {
        padding-top: 15px;
    }
    .logo{
        position: absolute;
        top: 15px;
        left: 15px;
    }
    .menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: $primary-color;
        z-index: 999;
        ul{
            div {width: 100%;}
            li{
                display: block;
                width: 100%;
                text-align: center;
            }
        }
    }
}
/* nav style start */



/*header style start*/
header{
    padding:0 0 30px 0;
    .head_desc{
        margin-top: 10%;
        h1{
            color:$white-primary; 
        }
        p{
            color:$white-secondary;
        }
        .head_button{
            background: $white-primary;
            text-transform: uppercase;
            padding: 12px 55px;
            border: 1px solid $white-primary;
            border-radius: 30px;
            font-size: 13px;
            font-weight: bold;
            transition: all .7s;
            &:hover{
                background: $primary-light;
                color: $white-primary;
            }

        }
    }
    img{
        max-width: 600px;
        width: 100%;
        display: block;
        margin: 0 auto;
    }
}
/*header style end*/



/*service start*/
.service{
    background: $white-primary;
    padding: 20px 0 50px;
    .service_desc{
        .service_content{
            text-align: center;
            padding: 10px;
            border: 1px dashed $black-light;
            margin: 15px 0;
            a {
                i {
                    font-size: 60px;
                    color:$black-light;
                }
            }
        }
    }
}
/*service end*/



/* counterup start */
.numbers{
    background: $primary-light;
    color: $white-secondary;
    .item{
        span{
            color: $white-secondary;
        }
    }
    
}
/* counterup end */






/* portfolio start */
.portfolio-section{
    background: $white-primary;
    padding: 20px 0 70px;
    .filtering{
        text-align: center;
        margin-bottom: 35px;
        span{
            height: 18px;
            line-height: 18px;
            padding: 0 8px;
            margin: 0 6px;
            display: inline-block;
            color: #333;
            font-size: 16px;
            cursor: pointer;
            border: 1px solid transparent;
            transition: all .2s;
        }
        .active{
            border-left: 1px solid #FF305B;
            border-right: 1px solid #FF305B;
            color: #FF305B;
        }
    }
    .portfolio-contain{
        padding: 7px;
        .gallery{
            transition: all .4s;
        }
        .items{
            padding: 8px;
            figure{
                overflow: hidden;
                position: relative;
                &:hover{
                    img{
                        transform: scale(1.1);
                        filter: brightness(60%);
                    }
                    a{
                        opacity: 1;
                    }
                }
                img {
                    margin: 0 auto;
                    display: block;
                    width: 100%;
                    transition: all .3s;
                    
                }
                a{
                    text-decoration: none;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    transition: all .5s;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    padding: 15px;
                    color: #ffffff;
                    opacity: 0;
                    h4{
                        font-size: 20px;
                    }
                    p{
                        color: #ddd;
                    }
                }
            }
        }
    }
}
/* portfolio end */





/*testimonial start*/
.testimonial{
    background: $white-secondary;
    padding: 20px 0 50px;
    .carousel-indicators{
        bottom: -20px;
        
        li{
            cursor: pointer;
            background: $black-light;
        }
        .active{
            background-color: $black-dark;
        }
    }
    .slider{
        background: $white-primary;
        padding: 10px;
        margin-bottom: 30px;
        img{
            border-radius: 50%;
            max-width: 100px;
            width: 100%;
        }
        h5{
            margin: 0;
        }
        p{
            margin-bottom: 5px;
        }
    }
}
/*testimonial end*/


/*client start*/
.client{
    padding: 30px 0;
    .slider{
        img{
            padding: 20px 0;
            display: block;
            margin: 0 auto;
        }
    }
}
/*client end*/


/*newsletter start*/
.newsletter{
    background: $primary-light;
    text-align: center;
    padding: 40px 0;
    h2{
        color: $white-primary;
    }
    p{
        color: $white-secondary;
    }

    .newsletter_form {
        display: flex;
        background: $white-primary;
        border-radius: 35px;
        padding: 8px 10px;
        overflow: hidden;
        input{
            border: none;
            &:focus{
                box-shadow: none;
            }
            
        }
        button {
            padding: 8px 48px;
            border-radius: 25px;
            background: $primary-light;
            color: $white-secondary;
            outline: 0;
            &:active{
                box-shadow: none;
            }
            
        }
    }
}
/*newsletter end*/


/*footer start*/
footer{
    text-align: center;
    padding: 50px 0;

    p{
        color:$white-primary;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        a{
            text-decoration: none !important;
            span{
                color:$white-primary;
                font-size: 13px;
                border-bottom: 1px solid $white-primary;
            }
        }
    }
    ul{
        margin-bottom: 0;
        li{
            display: inline-block;
            a{
                color: $white-primary;
                padding: 0 10px;
                transition: all .5s;
                font-size: 20px;
                &:hover{
                    color: $black-dark;
                }
            }
            
        }
    }
}
/*footer end*/
