@import 'partials/init.scss';
@import 'partials/variable.scss';



/* nav style start */
.nav_custom{
    position: fixed;
    width: 100%;
    z-index: 9999;
    padding: 0;
    &.nav_active {
        background: $white-primary;
        border-bottom: 1px solid darken($white-primary, 20%);
        ul li a {
            color: $black;
        }
        button span {
            color: $black;
        }
    }
    button{
        outline: 0;
        span{
            color: $white-primary;
            font-size: 30px;
        }
    }
    ul{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        li{
            a{
                color: $white-primary;
                transition: all .7s;
                &:hover{
                    color: $primary-color;
                }
            }
        }
    }
    .modal-content {
        border-radius: 60px;
    }
}

.dropdown-toggle {
    white-space: nowrap;
}

.dropdown-menu {
    padding: 0;
    border-radius: 0;
    top: 95%;
    border-top: 3px solid $primary-color;
}
.dropdown-divider {
    margin: 0;
}
.dropdown-item{

    text-align: center;
    color: $black !important;
    padding: .5rem 1.5rem;
    transition: all .7s;
    &:hover{
        color: $white-primary !important;
        background: $primary-color !important;
    }
}



/* responsive style */
@media screen and (min-width: 992px) {
    .dropdown {
        &:hover .dropdown-menu {
            display: block !important;
        }
    }
    .nav-link {
        padding: 1.5rem 0 !important;
        margin-left: 1.5rem;
    }
    
}
@media screen and (max-width: 992px){
    .navbar-nav {
        padding:0 1rem;
    }
    .nav_custom {
        .navbar-brand{
            display: inline-block;
            margin-left: 1rem;
        }
    }
}

/* nav style end */




/* header style start */
header{
    .cover {
        min-height: 100vh;
        height: 100%;
        background: rgba($black, .6);
        .content {
            max-width: 600px;
            width: 100%;
            h1 {
                font-weight: bold;
                margin-bottom: 40px;
            }
            p {
                margin-bottom: 40px;
            }
        }
    }
}
/* header style end */


/* quote style start */
.quote {
    padding: 4rem 0 3rem;
    background: $primary-color;
    color: $white-primary;
    .button {
        background: $white-primary;
        color: $primary-color;
        &:hover {
            box-shadow: 0 8px 15px rgba($white-primary, .1);
        }
    }
}
/* quote style end */


/* about style start */
.about {
    padding: 5rem 0;
    position: relative;
    h1 {
        font-weight: bold;
        margin-bottom: 30px;
    }
    p {
        margin-bottom: 40px;
    }
    .about_img {
        position: absolute;
        top: 0px;
        right: 0px;
        background: url(../images/slider/1.jpg) no-repeat 0 0;
        background-size: cover;
        height: 100%;
    }
}
@media screen and (max-width: 992px) {
    .about .about_img {
        display: none;
    }
}
/* about style end */







/* counter_section style start */
.counter_section {
    background: url(../images/slider/5.jpg);
    background-size: cover;
    background-position: center;
    .cover {
        padding: 7rem 0 10rem;
        background: rgba($black, .7);
        h1 {
            color: $white-primary;
            text-align: center;
            font-weight: bold;
        }
        p {
            color: $white-primary;
            text-align: center;
        }
    }
}
/* counter_section style end */



/* numbers style start */
.numbers {
    background: none;
    padding: 0;
    position: relative;
    top: -100px;
    .counter_box {
        padding: 3.5rem 0 1.5rem;
        background: $white-primary;
        box-shadow: 0px 7px 20px 1px rgba($black, .2);
        border-radius: 8px;
        .item {
            margin-bottom: 40px;
            h5 {
                color: $primary-color;
                font-size: 45px;
            }
        }
    }
}
/* numbers style end */




/* service style start */
.service {
    padding: 5rem 0;
    h1 {
        text-align: center;
        font-weight: bold;
    }
    p {
        text-align: center;
    }
    .item {
        border: 1px solid #ccc;
        padding: 30px;
        margin-bottom: 20px;
        img {
            width: 64px;
            margin: 0 auto;
        }
        h5 {
            text-align: center;
            padding: 20px 0 0;
            a {
                text-decoration: none;
            }
        }
        p {
            font-size: 14px;
        }
    }
    .owl-dots {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        button {
            outline: 0;
            width: 20px;
        }
        span {
            background: $primary-color;
            display: block;
            width: 10px;
            height: 10px;
            margin: auto;
            border-radius: 50%;
            border: 2px solid $white-secondary;

        }
        .active span {
            border: 0;
        }
    }
}
.service .owl-item.center .item {
    box-shadow: 0px 7px 20px 1px #c1c1c1;
    transition: all 0.3s;
}
/* service style end */



/* promo style start */
.promo {
    padding: 8rem 0;
    background: url(../images/bg_pattern.jpg);
    h1 {
        color: $white-primary;
        font-weight: bold;
    }
    h3 {
        color: rgba($white-primary, .8);
        margin-bottom: 40px;
    }
    .button {
        text-transform: uppercase;
    }
}
/* promo style end */




/* work style start */
.work {
    padding: 5rem 0;
    h1 {
        text-align: center;
        font-weight: bold;
    }
    p {
        text-align: center;
        margin-bottom: 3rem;
    }
    figure{
        overflow: hidden;
        position: relative;
        margin-bottom: 2rem;
        &:hover{
            img {
                transform: scale(1.1);
            }
            figcaption {
                opacity: 1;
                .content {
                    margin-top: 0;
                }
            }
        }
        img {
            margin: 0 auto;
            display: block;
            width: 100%;
            transition: all .3s;
            
        }
        figcaption {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transition: all .5s;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 15px;
            color: #ffffff;
            opacity: 0;
            background: rgba($black, .7);
            .content {
                margin-top: 50px;
                transition: all .3s;
                a {
                    display: block;
                    margin: 0 auto;
                    margin-bottom: 20px;
                    color: $white-primary;
                    font-size: 40px;
                    background: $primary-color;
                    height: 60px;
                    width: 60px;
                    line-height: 64px;
                    border-radius: 50%;
                    transition: all .3s;
                    &:hover {
                        background: $white-primary;
                        color: $primary-color;
                    }
                }
            }
        }
    }
}
/* work style end */




/* testimonial style start */
.testimonial {
    background: url(../images/testimonial/bg.jpg);
    background-position: center top;
    background-size: cover;
    .cover {
        padding: 5rem 0 4rem;
        background: rgba($black, .3);
        .testimonial_slider {
            position: relative;
            background: $primary-color;
            padding: 4rem 3rem;
            .author_box {
                figure {
                    img {
                        border-radius: 50%;
                    }
                }
            }
            
        }
        .owl-nav {
            position: absolute;
            bottom: 125px;
            right: 50px;
            color: $white-primary;
            .owl-prev, .owl-next {
                width: 30px;
                height: 30px;
                border: 2px solid $white-primary !important;
                outline: 0;
                transition: all .3s;
                &:hover {
                    background: $white-primary;
                    color: $primary-color;
                }
                span {

                }
            }
            .owl-next {
                margin-left: 10px;
            }
        }
    }
}
@media screen and (max-width: 480px) {
    .testimonial .owl-nav {
        bottom: 50px !important;
    }
}
/* testimonial style end */



/* team style start */
.team {
    padding: 5rem 0;
    background: lighten($primary-color, 62%);
    h1 {
        font-weight: bold;
        text-align: center;
        margin-bottom: 40px;
    }
    .member {
        figure {
            margin: 0;
            position: relative;
            overflow: hidden;
        }
        figcaption {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: -100%;
            background: rgba($primary-color, .5);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .7s;
            a {
                border: 1px solid $white-primary;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                font-size: 20px;
                margin: 0 5px;
                background: $white-primary;
                color: $primary-color;
                transition: all .3s;
                &:hover {
                    color: $white-primary;
                    background: none;
                }
            }
        }
        &:hover figcaption{
            left: 0;
        }
        article {
            background: $primary-color;
            padding: 20px;
            text-align: center;
            a {
                color: $white-primary;
                text-decoration: none;
                transition: all .3s;
                font-size: 18px;
                font-weight: bold;
                &:hover {
                    color: $secondary-color;
                }
            }
            p {
                color: $white-primary;
                margin-bottom: 0;
                font-size: 14px;
            }
        }
    }
}
/* team style end */



/* blog style start */
.blog {
    padding: 5rem 0;
    h1 {
        text-align: center;
        font-weight: bold;
    }
    p {
        text-align: center;
        margin-bottom: 40px;
    }
    figure {
        margin-bottom: 1.75rem;
        border-radius: 4px;
        box-shadow: 0 10px 35px 2px rgba($black, .1);
        .image {
            overflow: hidden;
            position: relative;
            img {
                height: 250px;
                object-fit: cover;
                width: 100%;
                transition: all .5s;
            }
            .date {
                position: absolute;
                bottom: 20px;
                right: 20px;
                width: 50px;
                height: 70px;
                background: $primary-color;
                border-radius: 8px;
                h5 {
                    text-align: center;
                    color: $white-primary;
                    padding-top: 10px;
                }
            }
        }
        &:hover {
            img {
                transform: scale(1.2);
            }
        }
        figcaption {
            padding: 30px 20px;
            h5 {
                margin-bottom: 1rem;
                font-weight: bold;
                a {
                    color: $black;
                    text-decoration: none;
                    transition: all .3s;
                    &:hover {
                        color: $primary-color;
                    }
                }
            }
            a {
                color: lighten($black, 30%);
                margin-right: 20px;
                text-decoration: none;
                i {
                    color: $primary-color;
                    margin-right: 5px;
                }
            }
            p {
                margin-top: 10px;
                margin-bottom: 0;
                text-align: left;
            }
        }
    }
}
/* blog style end */



/* contact style start */
.contact {
    background: linear-gradient(to right, $primary-color 50%, $black 50%);
    padding: 5rem 0;
    .heading {
        color: $white-primary;
        padding-bottom: 3rem;
        h2 {
            font-weight: bold;
        }
    }
    address {
        color: $white-primary;
        i {
            margin-right: 10px;
        }
        a {
            color: $white-primary;
        }
    }
    .social{
        ul{
            list-style-type: none;
            li{
                display: inline-block;
                a{
                    font-size: 28px;
                    margin: 10px 15px 10px 0;
                    color: $white-primary;
                    transition: all .3s;
                    &:hover{
                        color: darken( $white-primary, 20%);
                    }
                }
            }
        }
    }
    button {
        background: none;
        color: $white-primary;
        padding: 10px 20px;
        font-size: 13px;
        text-transform: uppercase;
        border: 2px solid $white-primary;
        width: 100%;
        transition: all .3s;
        cursor: pointer;
        &:hover {
            color: $black;
            background: $white-primary;
        }
    }

}
@media screen and (max-width: 992px) {
    .contact {
        background: $primary-color;
    }
}
/* contact style end */


/* map style start */
.map {
    margin-bottom: -7px;
}
/* map style end */



/* single_page style start */
.single_page {
    padding: 5rem 0;
    background: lighten($primary-color, 62%);
    h3 {
        color: $primary-color;
    }
}
/* single_page style end */






/* blog_single style start */
.blog_single {
    padding: 5rem 0;
    background: lighten($primary-color, 62%);
    .search_box {
        input {
            border: 1px solid $primary-color;
            color: $black;
            padding-left: 10px; 
        }
        button {
            width: 100%;
            height: 100%;
            border: none;
            background: $primary-color;
            color: $white-primary;
            cursor: pointer;
        }
    }
    h4 {
        color: $primary-color;
        text-align: center;
    }
    .item {
        background: $primary-color;
        color: $white-primary;
        padding: 20px;
        a {
            color: $white-primary;
        }
        span {
            color: darken($white-primary, 15%);
        }
    }
}
/* blog_single style end */



/* footer style start */
footer {
    background: $white-primary;
    padding: 50px 0 30px;
    color: $black;
    border-top: 1px solid darken($white-primary, 20%);
    h4 {
        font-weight: bold;
    }
    a{
        display: block;
        color: $black;
        transition: all .7s;
        margin-bottom: 15px;
        font-size: 14px;
        &:hover{
            color: $primary-color;
        }

    }
    p{
        line-height: 28px;
        font-size: 14px;
        margin-bottom: 0;
        a {
            display: inline-block;
            margin-bottom: 0;
        }
    }
    input {
        color: $black;
        border-bottom: 1px solid lighten($black, 30%);
    }
    button {
        width: 100%;
        padding: 10px 20px;
        border: 2px solid $primary-color;
        background: none;
        transition: all .3s;
        cursor: pointer;
        &:hover {
            background: $primary-color;
            color: $white-primary;
        }
    }
    .footer_bottom{
        border-top: 1px solid darken($white-primary, 20%);
        text-align: center;
        padding-top: 30px;
        margin-top: 30px;
        p{
            margin: 0;
            font-size: 12px;
        }
    }

}
/* footer style end */




/* back to top */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 30px;
    border: none;
    outline: none;
    background-color: darken($primary-color, 10%);
    color: $white-primary;
    cursor: pointer;
    padding: 0 12px;
    border-radius: 0;
    box-shadow: 0 0 4px 2px rgba($black, .1);
    transition: all .3s;
    &:hover {
        background-color: darken($primary-color, 20%);
    }
  }
/* back to top */